
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat);

header.major{
    padding-top: 50px;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.major2 {
    width: 560px;
    display: inline-block;
}


.menu{
    display: inline-block;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 auto;
}

.profile{
    display: inline-block;
    width: 30px;
    height: 30px;
    float: right;
    margin: 0 auto;
}

.logo{
    height: auto;
    display: inline-block;
}



.container {
    width: 560px;
    height: 680px;
    margin: 0 auto;
    display: inline-block;
    padding-top: 50px;
    position: relative;
}

.box {
    width: 180px;
    height: 180px;
    background-color: gray;
    display: inline-block;
}

.one {
    position: absolute;
    left: 0px;
    top: 50px;
    background-image: url(box-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.two {
    position: absolute;
    left: 190px;
    top: 50px;
    background-image: url(box-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.three {
    position: absolute;
    left: 380px;
    top: 50px;
    background-image: url(box-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.four {
    position: absolute;
    left: 0px;
    top: 240px;
    background-image: url(box-04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.five {
    position: absolute;
    left: 190px;
    top: 240px;
    width: 370px;
    height: 140px;
    background-image: url(box-05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.six {
    position: absolute;
    left: 0px;
    top: 430px;
    height: 140px;
    background-image: url(box-06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.seven {
    position: absolute;
    left: 190px;
    top: 390px;
    height: 160px;
    background-image: url(box-07.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.eight {
    position: absolute;
    left: 380px;
    top: 390px;
    height: 160px;
    background-image: url(box-08.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



.onehover {
    background-color: #fb7066;
    width: 180px;
    height: 180px;
    position: relative;
    color:white;
    opacity: 0;
    cursor: pointer;
    transition: all 0.2s linear;

}

.onehover:hover {
    opacity: 1;
    transition: all 0.2s linear;
}

.title {
    position: absolute;
    top: 70px;
    left: 20px;
}

.category {
    position: absolute;
    top: 90px;
    left: 20px;
}



.titlefont {
    font-family: montserrat;
    font-size: 13pt;
    text-transform: uppercase;
    letter-spacing: -1;
}


.categoryfont {
    font-family: montserrat;
    font-size: 9pt;
    text-transform: uppercase;
    letter-spacing: -1;
    font-weight: 200;
}



.details {
    width: 560px;
    height: 200px;
    margin: 0 auto;

}

.detail1 {
    width: 160px;
    height: 200px;
    float: left;
    border-top: 7px solid #434b5b;
    padding-top: 20px;
}

.detail2 {
    width: 360px;
    height: 200px;
    float: right;
    background-color: blue;
}

.works {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 800px;
    background-color: gray;


}

.detailtitle {
    font-family: montserrat;
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: -1;
    font-weight: 200;
    color: #545456;
}

.detailcategory {
    font-family: montserrat;
    font-size: 8pt;
    text-transform: uppercase;
    color: #545456;
}


.people {
    width: 120px;
    height: 40px;
    background-image: url(people-1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}