@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

header.major {
    padding-top: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.major2 {
    width: 100%;
    display: inline-block;
}

.menu {
    display: inline-block;
    /*width: 30px;*/
    /*height: 30px;*/
    float: left;
    margin: 0 auto;
}

.profile {
    display: inline-block;
    /*width: 30px;*/
    /*height: 30px;*/
    float: right;
    margin: 0 auto;
}

.logo {
    height: auto;
    display: inline-block;
}

.container {
    width: 100%;
    height: 680px;
    margin: 0 auto;
    display: block;
    padding-top: 30px;
    position: relative;
}

.box {
    width: 100%;
    min-height: 300px;
    /*background-color: gray;*/
    display: inline-block;
}

.one {
    left: 0px;
    top: 50px;
    background-image: url('images/box-01.jpg');
    /*background-size: cover;*/
    background-size: cover;
    background-repeat: no-repeat;
}
.one a{

}

.two {
    left: 190px;
    top: 50px;
    background-image: url('images/box-02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.three {
    left: 380px;
    top: 50px;
    background-image: url('images/box-03.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.four {
    left: 0px;
    top: 240px;
    background-image: url('images/box-04.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.five {
    left: 190px;
    top: 240px;
    /*width: 370px;*/
    /*height: 140px;*/
    background-image: url('images/box-05.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*.six {*/
    /*left: 0px;*/
    /*top: 430px;*/
    /*height: 140px;*/
    /*background-image: url(images/box-06.jpg);*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
/*}*/

.seven {
    left: 190px;
    top: 390px;
    /*height: 160px;*/
    background-image: url('images/box-07.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.eight {
    left: 380px;
    top: 390px;
    /*height: 160px;*/
    background-image: url('images/box-08.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.onehover {
    opacity: 0;
}


.twohover {

    opacity: 0;

}

.threehover {

    opacity: 0;

}


.fourhover {

    opacity: 0;


}



.fivehover {

    opacity: 0;


}

.sevenhover {

    opacity: 0;

}


.eighthover {

    opacity: 0;

}


.title {
position: absolute;
top: 70px;
left: 20px;
}

.category {
position: absolute;
top: 90px;
left: 20px;
}

.titlefont {
    font-family: montserrat;
    font-size: 13pt;
    text-transform: uppercase;
    letter-spacing: -1;
}

.categoryfont {
    font-family: montserrat;
    font-size: 7pt;
    text-transform: uppercase;
    letter-spacing: -1;
    font-weight: 200;
}

.details {
    width: 560px;
    height: 200px;
    margin: 0 auto;
    padding-top: 70px;
}

.detail1 {
    width: 160px;
    height: 200px;
    float: left;
    border-top: 7px solid #545456;
    padding-top: 10px;
}

.detail2 {
    width: 360px;
    height: 200px;
    float: right;
    padding-top: 25px;
}

.works {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 600px;
    background-color: #f7f7f7;

}

.end {
    height: 100px;
    margin: 0 auto;
}

.detailtitle {
    font-family: montserrat;
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: -1;
    font-weight: 200;
    color: #545456;
}

.detailcategory {
    font-family: montserrat;
    font-size: 8pt;
    text-transform: uppercase;
    color: #545456;
}

.people {
    width: 120px;
    height: 40px;
    background-image: url(images/people-1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.people2 {
    width: 120px;
    height: 40px;
    background-image: url(images/people-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.people3 {
    width: 120px;
    height: 40px;
    background-image: url(images/people-3.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.detailtext {
    font-family: 'Lato', 'nanum gothic', sans-serif;
    font-size: 7.5pt;
    letter-spacing: -0.5;
    color: #545456;
    line-height: 190%;
}

.left {
    position: fixed;
    top: 50%;
    left: 20px;
}

.right {
    position: fixed;
    top: 50%;
    right: 20px;
}

.x-align-middle {
    display: inline-block;
}

.x-align-middle:before {
    width: 0;
    height: 100%;
    content: '';
    vertical-align: middle;
    display: inline-block;
    margin-left: -0.25em;
}

.x-align-block {
    display: inline-block;
    vertical-align: middle;
}

.text-padding {
    padding-left: 20px;
    line-height: 110%;

}

.profiledetail {
    width: 560px;
    height: 200px;
    margin: 0 auto;
    padding-top: 70px;

}

.profile1 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url(images/profile-dasom.svg);
    background-size: contain;
}

.profile2 {
    width: 310px;
    height: 200px;
    float: right;
    border-top: 7px solid #f0ece0;
    padding-top: 10px;

}

.profiletext {
    font-family: 'Lato', 'nanum gothic', sans-serif;
    font-size: 12pt;
    color: #545456;
}

.profiletext2 {
    font-family: montserrat;
    font-size: 10pt;
    text-transform: uppercase;
    color: #df98d5;
    padding-top: 50px;
}

.profiletext3 {
    font-family: montserrat;
    font-size: 10pt;
    color: #565656;
    margin-left: 10px;
}
.x-com {
    display: none;
}

.x-mobile {
    display: block;
}


@media only screen and (min-width: 35em) {


    /*body {*/
        /*padding-top: 80px;*/
    /*}*/

    .x-com {
        display: block;
    }

    .x-mobile {
        display: none;
    }



    section.x-major article#x-profile ul.x-members li {
        width: 25%;
    }

    section.x-major article#x-portfolio ul li {
        float: left;
        width: 50%;
    }

    section.x-major.x-portfolio-detail header dl {
        text-align: center;
    }
    .box {
        width: 180px;
        height: 180px;
        position: absolute;
        min-height: 140px;
    }
    .one {
        left: 0px;
        top: 50px;
        background-image: url('images/box-01.jpg');
        /*background-size: cover;*/
        background-size: contain;
        background-repeat: no-repeat;
    }


    .two {
        left: 190px;
        top: 50px;
        background-image: url('images/box-02.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .three {
        left: 380px;
        top: 50px;
        background-image: url('images/box-03.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .four {
        left: 0px;
        top: 240px;
        background-image: url('images/box-04.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .five {
        left: 190px;
        top: 240px;
        width: 370px;
        height: 140px;
        position: absolute;
        background-image: url('images/box-05.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }



    .seven {
        left: 190px;
        top: 390px;
        /*height: 160px;*/
        background-image: url('images/box-07.jpg');
        background-size: contain;
        background-repeat: no-repeat;

    }

    .eight {
        left: 380px;
        top: 390px;
        /*height: 160px;*/
        background-image: url('images/box-08.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }



    .six {
        height: 140px;

    }

    .seven {
        height: 160px;

    }

    .eight {
        height: 160px;
    }


    header.major {
        padding-top: 50px;
        display: inline-block;
        text-align: center;

        height: auto;
        margin: 0 auto;

    }

    .major2 {
        width: 560px;
        display: inline-block;

    }

    .menu {
        display: inline-block;
        width: 30px;
        height: 30px;
        float: left;
        margin: 0 auto;
    }

    .profile {
        display: inline-block;
        width: 30px;
        height: 30px;
        float: right;
        margin: 0 auto;
    }

    .logo {
        height: auto;
        display: inline-block;
    }

    .container {
        width: 560px;
        height: 680px;
        margin: 0 auto;
        display: block;
        padding-top: 30px;
        position: relative;
    }

    .onehover {
        background-color: #fb7066;
        width: 180px;
        height: 180px;
        position: relative;
        color: white;
        opacity: 0;
        cursor: pointer;
        transition: all 0.2s linear;

    }

    .onehover:hover {
        opacity: 1;
        transition: all 0.2s linear;
    }

    .twohover {
        background-color: #ff9578;
        width: 180px;
        height: 180px;
        position: relative;
        color: white;
        opacity: 0;
        cursor: pointer;
        transition: all 0.2s linear;

    }

    .twohover:hover {
        opacity: 1;
        transition: all 0.2s linear;
    }

    .threehover {
        background-color: #434b5b;
        width: 180px;
        height: 180px;
        position: relative;
        color: white;
        opacity: 0;
        cursor: pointer;
        transition: all 0.2s linear;

    }

    .threehover:hover {
        opacity: 1;
        transition: all 0.2s linear;
    }

    .fourhover {
        background-color: #df98d5;
        width: 180px;
        height: 180px;
        position: relative;
        color: white;
        opacity: 0;
        cursor: pointer;
        transition: all 0.2s linear;

    }

    .fourhover:hover {
        opacity: 1;
        transition: all 0.2s linear;
    }

    .fivehover {
        background-color: #e5d7c6;
        width: 370px;
        height: 140px;
        position: relative;
        color: white;
        opacity: 0;
        cursor: pointer;
        transition: all 0.2s linear;

    }

    .fivehover:hover {
        opacity: 1;
        transition: all 0.2s linear;
    }

    .sevenhover {
        background-color: #ffd47d;
        width: 180px;
        height: 160px;
        position: relative;
        color: white;
        opacity: 0;
        cursor: pointer;
        transition: all 0.2s linear;

    }

    .sevenhover:hover {
        opacity: 1;
        transition: all 0.2s linear;
    }

    .eighthover {
        background-color: #ffbfae;
        width: 180px;
        height: 160px;
        position: relative;
        color: white;
        opacity: 0;
        cursor: pointer;
        transition: all 0.2s linear;

    }

    .eighthover:hover {
        opacity: 1;
        transition: all 0.2s linear;
    }

}


